
/*
 * Form Container
 */

.app-form {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.mdc-form-field {
    margin-top: 16px;
    width: 100%;
}

.mdc-text-field {
    margin-top: 16px;
    width: 100%;
}