
p, dl, h1, h2, h3, h4, h5 {
    color: #002855 !important;
}

section.mdc-typography > * {
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag-cloud button {
    width: auto !important;
}

section {
    width: 100%;
    padding: 20px;
}

p {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0 16px;
}

.mdc-image-list {
    width: 100%;
    max-height: 400px;
}

.mdc-image-list__item {
    width: 100%;
}

.mdc-image-list__image {
    max-height: 400px;
    object-fit: scale-down;
}

blockquote {
    background: none !important;
    box-shadow: none !important;
    color: #aaa !important;
    border-left: 3px solid #f0f0f0;
    border-radius: 0 !important;
    font-style: italic !important;
    margin-bottom: 2rem !important;
    padding: 20px;
}

.mdc-card {
    margin-bottom: 20px;
    padding: 16px;
}

@media only screen and (min-width: 768px) {
    .flex-primary {
        display: flex !important;
        flex-direction: row !important;
    }

    .flex-primary > .mdc-card__media {
        background-size: 40px !important;
        margin: 16px 32px;
        padding: 16px 32px;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .flex-primary {
        display: flex !important;
        flex-direction: column !important;
    }

    .flex-primary > .mdc-card__media {
        background-size: 100px !important;
        margin: 16px 32px;
        padding: 16px 32px;
        height: 160px;
    }
}

.mdc-card__media {
    background-size: 40px !important;
    margin: 16px 32px;
    padding: 16px 32px;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider-container img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/*
 * Main Grid
 */
 
.full-width-grid {
    height: auto;
    width: 100%;
}